<!doctype html>
<html lang="en">
  <head>
<%- include('./partials/head_view.ejs'); %>
</head>
<body>
  

<div class="container">
  <% for(var i=0; i<articles.length; i++) {%>
    <div class="row">
      <div class="col-4 mt-5 mb-5 center">
        <img class='img-fluid' src="<%- articles[i].imagen %>" alt="" srcset="">
      </div>
      <div class="col-8 mt-5 mb-5 center">
        <h2 class="display-5"><%- articles[i].titulo %></h2>
        <small class="mb-5"><%- articles[i].fecha_creacion %></small>
        <p class="lead mt-5 content-text"><%- articles[i].contenido %></p>
        .<a name="" id="" class="btn btn-primary" href="<%-'articulo/'+ articles[i].id %>" role="button">Leer mas</a>
      </div>
    </div>
  <% } %>
</div>
<%- include('./partials/end-body_view.ejs'); %>
</body>
</html>