<%- include('./head.view.ejs'); %>

<div class="container">
  <form action="/admin/<%- article.id %>/modificar" method="post">
    <div class="row">
      <div class="col-4 mt-5 mb-5 mt-5 center">
        <img class="img-fluid" src="<%- article.imagen %>" alt="" srcset="" />
        <!-- <div class="custom-file my-3">
          <input
            id="imagen"
            type="file"
            name="imagen"
            class="custom-file-input"
          />
          <label class="custom-file-label" for="image"
            >Seleccionar una imagen</label
          >
        </div> -->

        <small
          ><%- author.nombre + ' ' +author.apellido %>
          <a href=""><%- ' - ' + author.email %></a>
        </small>
      </div>
      <div class="col-8 mt-5 mb-5 center">
        <div class="form-group">
          <label for="titulo">Modificar titulo</label>
          <textarea class="form-control" name="titulo" id="titulo" rows="1">
              <%- article.titulo %>
            </textarea
          >
        </div>
        <div class="form-group">
          <small class="mb-5" name="fecha_creacion"
            ><%- article.fecha_creacion %></small
          >
        </div>

        <div class="form-group">
          <label for="contenido">Modificar contenido</label>
          <textarea
            class="form-control"
            id="contenido"
            name="contenido"
            rows="15"
          >
            <%- article.contenido %>
          </textarea>
        </div>

        <a name="" id="" class="btn btn-primary" href="" role="button"
          >Ocultar</a
        >
        <button type="submit" class="btn btn-primary">Modificar</button>
      </div>
    </div>
  </form>
</div>

<%- include('./end-body.view.ejs'); %>
